@import "../../../scss/colors.scss";

.slide {
   &__user {
      &__img {
         height: 60px;
         border-radius: 50px;
      }
      &__title {
         line-height: 1rem;
      }
   }

   &__text {
      font-size: 1rem;
      line-height: 1.2rem;
   }
}
.swiper-pagination-bullet {
   width: 10px;
   height: 10px;
   border: 2px solid $border-color;
   border-radius: 50%;
   background: transparent;
   opacity: 1;
   transition: all 0.2s;
}

.swiper-pagination-bullet-active {
   width: 15px;
   height: 15px;
   border-right-color: transparent;
   transform: rotate(-65deg);
   transition: all 0.4s;
}

.swiper-button-next:after,
.swiper-button-prev:after {
   font-size: 20px;
   color: $border-color;
}
