@import "../../../scss/mixins.scss";
@import "../../../scss/colors.scss";

.card-item {
   background: $white-color;
   background: linear-gradient(180deg, $rgda-white 0%, $rgda-white 50%, $rgda-gradient 100%);
   border-radius: 5px;
   border: none;
   transform: perspective(2000px) rotatey(0deg) rotatex(0deg);
   transition: transform 0.2s ease;
   &:hover {
      background-image: -o-linear-gradient(45deg, $rgda-gray, $hover-color, $rgda-black);
      background-image: linear-gradient(45deg, $rgda-gray, $hover-color, $rgda-black);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
   }
   .card-item-img {
      margin: 0 auto;
   }
}

.image-fit {
   height: 200px;
   width: 200px;
}

.card-name {
   cursor: pointer;
   &:hover {
      text-decoration: none;
      color: $border-color;
   }
}

.fix-line-of-description {
   @include sliceByLine(2);
   min-height: 55px;
}

.fix-line-of-title {
   @include sliceByLine(2);
   min-height: 48px;
}
