@import "../../../scss/mixins.scss";
@import "../../../scss/colors.scss";

.card-item {
   background: rgb(255, 255, 255);
   background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(195, 195, 195, 1) 100%
   );
   border-radius: 5px;
   border: none;
   transform: perspective(2000px) rotatey(0deg) rotatex(0deg);
   transition: transform 0.2s ease;
   &:hover {
      background: $hover-color;
   }
   &___img {
      margin: 0 auto;
   }
}

.image-fit {
   height: 200px;
   width: 200px;
}

.card-name {
   text-decoration: underline;
   cursor: pointer;
   &:hover {
      text-decoration: none;
      color: $border-color;
   }
}

.fix-line-of-description {
   @include sliceByLine(2);
   min-height: 55px;
}

.fix-line-of-title {
   @include sliceByLine(2);
   min-height: 48px;
}
