@import "../../../scss/mixins.scss";

.fix-description {
   @include sliceByLine(7);
}

.cart-page {
   min-height: 45vh;
}

.btn-motion {
   animation: animate_motion 5s 0s both infinite;
   &:hover {
      animation: none;
   }
}

.image-cart {
   width: 170px !important;
   @media (max-width: 768px) {
   }
}

@keyframes animate_motion {
   0%,
   20% {
      transform: translate3d(0, 0, 0);
   }
   10%,
   14%,
   18%,
   2%,
   6% {
      transform: translate3d(-7px, 0, 0);
   }
   12%,
   16%,
   4%,
   8% {
      transform: translate3d(7px, 0, 0);
   }
}

.dn {
   @media (max-width: 768px) {
      display: none !important;
   }
}

.dns {
   @media (max-width: 425px) {
      display: none !important;
   }
}

.fix-dns {
   @media (max-width: 425px) {
      position: relative;
      height: 120px !important;
      width: 120px !important;
   }
}

.fix-dns-title {
   @media (max-width: 425px) {
      position: absolute;
      left: 10px;
   }
}
