@import "../../../scss/mixins.scss";

.image {
   height: 350px;
   width: 100%;
}

.fix-description {
   @include sliceByLine;
   min-height: 72px;
}

.fix-title {
   @include sliceByLine(4);
   min-height: 55px;
}
