@import "../../../scss/colors.scss";

.header-content-text {
   text-transform: none;
   font-weight: 400;
   font-size: 1rem;
   color: $font-color;
}

.span-text {
   font-size: 1rem;
}

.title {
   font-size: 5rem;
   font-weight: 900;
   line-height: 4rem;
   text-transform: uppercase;
}

.span-green {
   font-size: 5.2rem;
   background-image: url(../../../assets//images/bg-span.jpg);
   background-size: contain;
   background-attachment: fixed;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}

.text {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
   line-height: 0.9rem;
}

.header-content-img {
   height: 500px;
}

.img-right {
   height: 100%;
   //text-success
}
