@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';

.header{
   min-width: 100%;

   &__navigation{
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 1%;
      background-color: $main-color;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border: 1px solid $border-color;
      border-top: transparent;
      border-bottom: 3px solid $border-color;
      -ms-grid-columns: 25% 1fr 35%;
      grid-template-columns: 25% 1fr 35%;
      @include grid;
      @include box-shadow($shadow-color);
      
      &__btns{
         @include flex(row, center, center)
      }
   }
}