@import "../../../scss/colors.scss";
@import "../../../scss/mixins.scss";

.footer__contacts {
   background-color: $shadow-bg;
   padding: 1rem;
   font-weight: 600;
   border-bottom: 3px solid $border-color;
   border-radius: 10px;
   @include box-shadow($shadow-color);
}
