@import "../../../scss/colors.scss";
@import "../../../scss/mixins.scss";

.footer__contacts {
   background-color: $shadow-bg;
   padding: 1rem;
   font-weight: 600;
   border-bottom: 3px solid $border-color;
   border-radius: 10px;
   @include box-shadow($shadow-color);
}

.footer-content {
   display: grid !important;
   grid-template-columns: 40% 15% 45%;
}

.ul-items {
   margin-left: 20%;
}

.footer__contacts {
   .logo__text {
      display: block;
   }
}
