@import "../../../scss/mixins.scss";
@import "../../../scss/colors.scss";

.link-right {
   @include box-shadow($shadow-color);
   color: $font-color;
   border-radius: 10px;
   border-bottom: 2px solid $border-color;
   background-color: $shadow-bg;
   margin-bottom: 1rem;
   @media (max-width: 768px) {
      padding: 1rem !important;
   }
}

.social-network {
   display: grid !important;
   grid-template-columns: repeat(5, 55px);
}

.social-network__link {
   box-shadow: 1px 1px 5px $font-color;
   border: 1px solid $border-color;
}
