@import "../../../scss/mixins.scss";
@import "../../../scss/colors.scss";

.link-right {
   @include box-shadow($shadow-color);
   color: $font-color;
   width: 31vw;
   border-radius: 10px;
   border-bottom: 2px solid $border-color;
   background-color: $shadow-bg;
   margin-bottom: 1rem;
}

.social-network__link {
   box-shadow: 1px 1px 5px $font-color;
   border: 1px solid $border-color;
}
