@import "../../../scss//colors.scss";
@import "../../../scss/typography.scss";
@import "../../../scss/mixins.scss";

.search__btn .btn {
   background-color: $border-color;
   border-radius: 4px;
   border: none;
   color: $white-color;
   text-transform: $transformCapitalize;
   width: 70px;
   height: 25px;
   cursor: pointer;
}

.right__btn .btn {
   width: 100px;
   height: 35px;
   background-color: $border-color;
   border-radius: 6px;
   border: none;
   color: $white-color;
   text-transform: capitalize;
   @include flex(row, center, center);

   &::before {
      content: "";
      position: relative;
      right: 2px;
      float: left;
      width: 20px;
      height: 20px;
      background-image: url("../../../assets/images/icons/bg-btn.svg");
      background-repeat: no-repeat;
   }
}
