@import "../../../../scss/colors.scss";

.wrapper {
   background: $block-color;
   transform: skew(0, -5deg);
   border-top-left-radius: 100px;
   border-bottom-right-radius: 100px;
   &__block {
      transform: skew(0, 5deg);
      padding-bottom: 5%;
   }
}

.cards {
   @media (max-width: 425px) {
      padding: 2rem !important;
   }
}

.card-puls {
   animation: animate_grow 2s infinite;
   margin: 20px auto;
   &:hover {
      animation: none;
   }
   @media (max-width: 425px) {
      animation: none;
      -webkit-animation: none;
      padding: 0.3rem 0 0.3rem 0.5rem;
      margin: 0;
   }
}

card-list > .row {
   @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }
   @media (max-width: 425px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
   }
}

@keyframes animate_grow {
   0% {
      transform: scale3d(1, 1, 1);
   }
   50% {
      transform: scale3d(1.05, 1.05, 1.05);
   }
   100% {
      transform: scale3d(1, 1, 1);
   }
}
