@import '../../../scss/typography.scss';

.logo__text{
   text-transform: uppercase;
   font-weight: $fontWeightBlack;
   color: $span-color;

   &::first-letter {
      font-size: 1.3rem;
      font-weight: $fontWeightBold;
   }

}

.cart__counter .span{
   position: absolute;
   right: 2px;
   top: 7px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   color: #e5fcf2;
   text-align: center;
   background-color: #46a358;
}