@import '../../../scss/colors.scss';

.search__input .input{
   background-color: $placeholder-color;
   border: 2px solid $input-color;
   border-radius: 4px;
   background-image: url("../../../assets/images/icons/search.svg");
   background-repeat: no-repeat;
   background-size: 7%;
   background-position: 95% 45%;
   padding: 0 2%;
   outline: none;
   width: 200px;
   height: 25px;
   color: $text-color;

   &::-webkit-input-placeholder {
      color: $link-color;
   }
   &::-moz-placeholder {
      color: $link-color;
   }
   &:-ms-input-placeholder {
      color: $link-color;
   }
   &:-moz-placeholder {
      color: $link-color;
   }
}