@import "../../../scss/mixins.scss";
@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.logo {
   text-decoration: none;
   &__text {
      text-transform: uppercase;
      font-weight: $fontWeightBlack;
      color: $span-color;
      @media (max-width: 1024px) {
         display: none;
      }
      @media (max-width: 768px) {
         display: block;
      }
      @media (max-width: 425px) {
         display: none;
      }
      &::first-letter {
         font-size: 1.3rem;
         font-weight: $fontWeightBold;
      }
   }
}
