.btn-right {
   width: 100px;
   height: 35px;
   border-radius: 6px;
   text-transform: capitalize;
   &::before {
      content: "";
      background-image: url("../../../assets/images/icons/bg-btn.svg");
      background-repeat: no-repeat;
      position: relative;
      right: 2px;
      float: left;
      width: 20px;
      height: 20px;
   }
}
