@import 'reset.css';

@import './scss/fonts.scss';
@import './scss/colors.scss';
@import './scss/typography.scss';
@import './scss//mixins.scss';

html {
   @include text($color:#373f38);
   height: 100%;
 }
 
 body {
   background-color: $main-color;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   @include normalizer;
   @include text($color:#373f38);
 }
 
 .container{
    min-height: 100%;
    max-width: 1440px;
    margin: auto;
 }
