@import "reset.css";
@import "bootstrap";

@import "./scss/fonts.scss";
@import "./scss/colors.scss";
@import "./scss/typography.scss";
@import "./scss//mixins.scss";

html {
   @include text($color: #373f38);
   height: 100%;
   overflow: scroll;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 0px;
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: transparent;
}
body {
   background-color: $main-color;
   background-repeat: no-repeat;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   @include normalizer;
   @include text($color: #373f38);
}

.content {
   min-height: 100%;
   max-width: 1440px;
   margin: auto;
}
