@import "reset.css";
@import "bootstrap";

@import "./scss/fonts.scss";
@import "./scss/colors.scss";
@import "./scss/typography.scss";
@import "./scss//mixins.scss";

html {
   @include text($color: #373f38);
   height: 100%;
   overflow: scroll;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 0px;
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: transparent;
}
body {
   background-color: $main-color;
   background-repeat: no-repeat;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   @include normalizer;
   @include text($color: #373f38);
}

.btn:hover {
   box-shadow: 1px 1px 5px $shadow-btn;
   background-image: -o-linear-gradient(45deg, $rgda-gray, $rgda-gray, $rgda-black);
   background-image: linear-gradient(45deg, $rgda-gray, $rgda-green, $rgda-black);
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}

.content {
   min-height: 100%;
   max-width: 1400px;
   margin: auto;
   @media (max-width: 1580px) {
      max-width: 1500px;
   }
   @media (max-width: 1024px) {
      max-width: 1000px;
   }
}
