$main-color: #e5fcf2;
$placeholder-color: #cfe4d37e;
$font-color: #373f38;
$text-color: #3a3a3a;
$link-color: #204601;
$shadow-color: #3a3a3a7a;
$border-color: #198754;
$input-color: #373f388e;
$span-color: #28a302;
$white-color: #ffffff;
$bg-pagination: #198754;
$shadow-bg: #c1ebc979;
$hover-color: #0000002f;
$block-color: #19875415;
