@import "./colors.scss";
@import "../scss/typography.scss";

@mixin normalizer {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
}

@mixin sliceByLine($lines: 3) {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $lines;
   white-space: pre-wrap;
}

@mixin text($color: $font-color) {
   font-family: $mainFont;
   font-size: 0.9rem;
   color: $color;
   line-height: 18px;
}

@mixin box-shadow($shadow-color) {
   -webkit-box-shadow: 1px 8px 10px $shadow-color;
   box-shadow: 1px 8px 10px $shadow-color;
}
